* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold: #f89d42;
    --dark-shadow: #d56b4d;
}

.t-shape {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.t-shape > * {
    padding: 10px;
    flex: 1 100%;
}

.title {
    background: linear-gradient(
        90deg,
        var(--gold) 10%,
        var(--dark-shadow) 50%
    );
    background-clip: text;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: clamp(1em, 10vw, 5rem);
    letter-spacing: 1px;
    -webkit-text-fill-color: transparent;  
}

button {
    letter-spacing: 0.1em;
    padding: 10px;
    transition: 0.4s;
    font-size: 1em;
    font-weight: 500;
    color: black;
    border: 0;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

button:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

ul {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 50px;
}

li {
    width: 80px;
    height: 80px;
    list-style: none;
    cursor: pointer;
    transition: 0.4s;
}

ul li a {
    text-decoration: none;
    font-size: 2em;
    color: var(--link-color);
    transition: 0.4s;
}

ul li:hover {
    transform: scale(0.75);
}

ul li:hover a {
    font-size: 3em;
    filter: drop-shadow(0 0 10px var(--link-color)) drop-shadow(0 0 20px var(--link-color)) drop-shadow(0 0 30px var(--link-color));
}

.t-shape-about {
    font-size: 16px;
    line-height: 1.5em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    text-align: justify;
    max-width: 850px;
}

.t-shape-about h1 {
    text-align: center;
    color: #555;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: -1px;
    padding-bottom: 15px;
}

.t-shape-about a {
    color: steelblue;
    text-decoration: none;
    transition: 0.4s;
}

.t-shape-about a:hover {
    text-decoration: underline;
}

.t-shape-about p {
    border-left: solid 2px #ccc;
    padding-left: 40px;
    padding-bottom: 10px;
}

.hide-data {
    display: none;
}

.show-data {
    display: block;
}

.group path {
    fill: whitesmoke;
    fill-opacity: 0;
    stroke: none;
}

textPath {
    font-size: 12px;
    font-weight: bold;
}

text {
    fill: #555555;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.node text {
    text-anchor: middle;
}

.circle {
    fill-opacity: 0.7;
    stroke: none;
}

.circle:hover {
    fill-opacity: 1;
    stroke: #f89d42;
    cursor: pointer;
}

.mitch-d3-tree.boxed-tree.default .link {
    fill: none;
    stroke: var(--dark-shadow);
    stroke-width: 2px;
}
  
.mitch-d3-tree.boxed-tree.default .node.collapsed .body-group .body-box {
    fill: #f8e5df;
}
  
.mitch-d3-tree.boxed-tree.default .node.selected .body-group .body-box {
    stroke: var(--dark-shadow);
    stroke-width: 2.5px;
}
  
.mitch-d3-tree.boxed-tree.default .node .body-group .body-box {
    stroke: var(--dark-shadow);
    fill: white;
}
  
.mitch-d3-tree.boxed-tree.default .node .title-group .title-box {
    stroke: var(--dark-shadow);
    fill: #f2d0c5;
}
  
.mitch-d3-tree.boxed-tree.default .node .title-group text {
    fill: #555555;
}
  
.mitch-d3-tree.circle-tree.default .link {
    fill: none;
    stroke: var(--dark-shadow);
    stroke-width: 2px;
}

.mitch-d3-tree.circle-tree.default .node text {
    font: 12px sans-serif;
    font-family: "Helvetica Neue", Helvetica, sans-serif
}

.bg-tab,
.bg-tab ~ .content span {
    background-color: #f2d0c5;
}

.accordion {
    background-color: #bcc8dd;
    font-size: 18px;
    color: #302f2f;
    width: 650px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(240, 156, 47, 0.3)
}

.accordion .acord {
    position: relative;
    overflow: hidden;
}

.accordion .acord label {
    position: relative;
    z-index: 1000;
    display: block;
    padding: 0 40px 0 0;
}

.accordion .acord label i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    text-align: center;
}

.accordion .acord label,
.accordion .acord label i,
.accordion .acord i.fa-chevron-circle-down {
    height: 40px;
    line-height: 40px;
}

.accordion .acord i.fa-chevron-circle-down {
    position: absolute;
    z-index: 1111;
    top: 0;
    left: 0;
    width: 40px;
    text-align: center;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

.accordion .acord input {
    display: none;
}

.accordion .content {
    position: relative;
    overflow: hidden;
    -moz-transition: height 1s linear 0s;
    -webkit-transition: height 1s linear 0s;
    transition: height 1s linear 0s;
    height: 0;
    font-size: 24px;
    line-height: 22px;
    color: #302f2f;
    text-align: left;
    direction: ltr
}

.accordion .content span.square {
    display: block;
    position: absolute;
    left: 10px;
    top: -17px;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
}

.accordion input[type="checkbox"]:checked ~ div.content {
    height: 300px;
    padding: 10px;
}

.accordion input[type="checkbox"]:checked ~ i.fa-chevron-circle-down {
    transform: rotate(180deg);
}
